*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins-bold;
    src: url("../age-calculator-app-main/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins-regular;
    src: url("../age-calculator-app-main/assets/fonts/Poppins-Regular.ttf");
}
body{
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    width: 40rem;
    height: 26rem;
    background-color: white;
    box-shadow: 0px 0px 16px 1px hsl(0, 0%, 86%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 20%;
    position: relative;
}
.input-container{
    display: flex;
    column-gap: 2rem;
    padding: 1.5rem 2.5rem;
}
.input-container label{
    font-size: 10px;
    width: fit-content;
    color: hsl(0, 1%, 44%);
    font-family: Poppins-regular;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.input-container label span{
    color: hsl(0, 100%, 67%);
    font-style: italic;
}
.input-container input{
    width: 7rem;
    height: 3rem;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 24px;
    font-family: Poppins-bold;
    transition: all 200ms;
}
.input-container input:hover{
    border-color: hsl(259, 100%, 65%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.divider{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
    top: 6rem;
}
.arrow-icon{
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: hsl(259, 100%, 65%);
    padding: 12px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 200ms;
}
.arrow-icon:hover{
    background-color: black;
}
.line{
    position: absolute;
    width: 30rem;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
    left: 39px;
}
.output-container{
    margin-top: 2rem;
    padding: 0px 2.5rem;
}
.output-container{
    font-size: 32px;   
    font-family: Poppins-bold;
    font-style: italic;
    line-height: 80px;
    text-transform: lowercase;
    font-weight: 700;
}
#year-number, #month-number, #days-number{
    color: hsl(259, 100%, 65%);
}
@media only screen and (width <= 800px) {
    .main-container{
        width: 100%;
        height: 28rem;
        margin: 10px;
    }
    .input-container{
        gap: 1rem;
        padding: 2rem 1rem;
    }
    .input-container input{
        width: 5rem;
        font-size: 18px;
    }
    .line{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .divider{
        padding: 0px;
        margin: 2rem 0rem;
    }
    .arrow-icon{
        width: 3rem;
        height: 3rem;
        margin: auto;
    }
    .output-container{
        margin-top: 2.5rem;
    }
}